body {
    background-color: black;
    font-size: 9vw;
    font-family: Helvetica, sans-serif;
    }
.recipe {
  direction: rtl;
  text-align: right;
  color: white;
}
h1 {
  font-size: 100%;
  margin-bottom: 0.2em;
}
p {
  font-size: 50%;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.recipe_container {
    padding-right: 5%;
    padding-left: 5%;
}